{% extends 'base.html' %}

{% block head %}
<title>App M Fickman MDF</title>


<script delay src="{{ url_for('static', filename='js/timer.js') }}"> </script>
{%endblock %}

{% block body %}

<div class="container">
    <h3>MDF Holding Mark Fickman Code Challenge</h3>
    <h6>Telephone Switchboard</h6>
</div>
<div class="container">
<p class="content_XX">
     <br>
    {# <div id="time-elapsed"></div> #}
    <br>
    <form action="/" method="POST">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="ani_number" placeholder="Enter ani number" name="ani_number">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="callto_number" placeholder="Enter call to number" name="callto_number">
            </div>
        </div>
        <br>
        <input type="submit" value="Create New Call">

        {% if flash_bool %}
         <div class="alert alert-danger alert-dismissible">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Danger!</strong> {{flash_message}}
         </div>
        {% endif %}
    </form>
    <br>

    <h2><p class="text-primary">ALL PENDING CALLS</p></h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th class="text-center" style="padding: 10px; background: whitesmoke">ID</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">WHO IS CALLING</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">WHERE ARE THEY CALLING TO</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">DATE AND TIME CALL WAS INITIATED</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">ACTIONS</th>
        </tr>
        {% for pending_call in pending_log %}
            <tr>
                <td class="text-center" syle="padding: 10px;">{{pending_call.id}}</td>
                <td class="text-center" syle="padding: 10px;">{{pending_call.ani_number}}</td>
                <td class="text-center" syle="padding: 10px;">{{pending_call.callto_number}}</td>
                <td class="text-center" syle="padding: 10px;">{{pending_call.date_created}}</td>
                <td class="text-center" syle="padding: 10px;">
                    <a href="/answer/{{pending_call.id}}"><p class="text-success">Answer</p></a>

                    <a href="/hangup/{{pending_call.id}}"><p class="text-danger">Hang Up</p></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <h2><p class="text-success">ALL ACTIVE CALLS</p></h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th class="text-center" style="padding: 10px; background: whitesmoke">ID</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">WHO IS CALLING</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">WHERE ARE THEY CALLING TO</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">TME ACTIVE</th>
            <th class="text-center" style="padding: 10px; background: whitesmoke">ACTIONS</th>
        </tr>

        {% for active_call in active_log %}
            <tr>
                <td>{{active_call.id}}</td>
                <td>{{active_call.ani_number}}</td>
                <td>{{active_call.callto_number}}</td>
                <td><div id="time-elapsed{{loop.index}}"><script>startTimer({id: "time-elapsed{{loop.index}}", startTime: "{{active_call.time_active}}" })</script></div></td>
                <td>
                    <a href="/hangup/{{active_call.id}}"><p class="text-danger">Hang Up</p></a>
                </td>
            </tr>
        {% endfor %}

    </table>
    <br>

    <a href="/history_page/" class="btn btn-info" role="button">History Page Showing All Calls</a>
    <br><br><br><br>

</div>
</div>
{%endblock %}

{% block script_block %}

{# <script delay src="{{ url_for('static', filename='js/timer.js') }}"><script> #}

{% endblock %}